*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/*establece el color de fondo para el elemento/*
body {
background-color: E5ECF9;
}
/*crear el tamaño del contenedor##
.container {
    display: flex;
    height: 700px;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 150px;
}
/*actualización de los datos de la clase .info/*
.info{
    background-image: url(Title\ Page\ \(1\).jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 150px 50px;
    width: 50%;
}

/*establece un conjunto de estilos para los elementos h2/*
.info h2 {
color: #fff;
text-transform: uppercase;
font-size: 50px;
margin-bottom: 25px;
}

/*establece estilos para los elementos hr/*
.info hr {
    width: 55px;
    border: 4px solid #fff;
    margin-left: 170px;
    margin-bottom: 25px;
}

/*establece estilos para los elementos que tienen la clase .txt-2/*
.txt-2 {
    color: #fff;
    font-size: 18px;
}
/*cambios en la clase .form, .formh2 etc/*
.form {
    padding: 150px 100px;
    width: 50%;
    text-align: center;
    background-color: #fff;
}

/*establece estilos para los elementos que tienen la clase formh2/*
.formh2 {
    color:#097EF6;
    font-size: 30px;
    margin-bottom: 25px;
}

/*establece estilos para los elementos <p> que se encuentren dentro de un elemento con la clase .form/*
.form p {
    font-size: 16px;
    color: #c4c3c3;
    margin-bottom: 25px;
}

/*Establece el tipo de visualización de los elementos como un contenedor flexible/*
.inputs {
    display: flex;
    flex-direction: column;
}

/*establece estilos para los elementos que tienen la clase .box/*
.box {
    outline: none;
    border-color: #097EF6;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    padding: 15px 35px;
    margin-bottom: 20px;
    background-color: #F9F9F9;
}

.inputs a {
    color: #097EF6;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 35px;
}

/*establece estilos aplicará un fondo azul con texto blanco y un botón redondeado con un tamaño de fuente más grande y texto en mayúsculas/*
.submit {
    background-color: #097EF6;
    padding: 15px;
    border: 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 25px;

}
